*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/misc.xml
.idea/vcs.xml
.idea/misc.xml

openCVLibrary2411/build/
openCVLibrary2411/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
.idea/misc.xml
