*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
openCVLibrary2411/build/generated/source/buildConfig/release/org/opencv/BuildConfig.java
openCVLibrary2411/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
openCVLibrary2411/build/outputs/aar/openCVLibrary2411-release.aar
